{% extends "CELiceoParaisoBundle::visitor_view.html.twig" %}
{% block submenu %}
    <p><a href="#">Reseña</a></p>
    <p><a href="#">Departamentos</a></p>
    <p><a href="#">Servicios</a></p>
    <p><a href="#">Personal</a></p>
    <p><a href="#">Noticias</a></p>
{% endblock %}

{% block content %}
    <h1 id="title">Área {{area.getNombre()}}</h1><hr>
    {%if subinformation == 'description' %}
        <p>{{area.getDescripcion()}}</p>
    {%endif%}
    {%if subinformation == 'departaments' %}
        
    {%endif%}
    {%if subinformation == 'services' %}
        
    {%endif%}
    {%if subinformation == 'personal' %}
        
    {%endif%}
    {%if subinformation == 'news' %}
        
    {%endif%}
{% endblock %}

{% block images %}
    <h1>IMÁGENES</h1>
{% endblock %}